SECRET_KEY=ваш_ключ
ALLOWED_HOSTS=localhost,127.0.0.1,web

# Суперпользователь Django
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=securepassword123

# База данных
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
REDIS_URL=redis://redis:6379/1

# Email - Яндекс
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=587
EMAIL_HOST_USER= пример(b@yandex.ru)  # ваша почта
EMAIL_HOST_PASSWORD= пример(hwwomnjrdsjdoyyk) # ← ПАРОЛЬ ПРИЛОЖЕНИЯ!
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

# Другие настройки
SITE_URL=http://localhost:8000
IS_LOCAL=False # ← меняем на False для использования PostgreSQL
PYTHONPATH=/app
DJANGO_SETTINGS_MODULE=order_service.settings
